{% extends 'base.html' %}
{% load static %}
{% block title %} About Us {% endblock %}

{% block pagecss %}
<link rel="stylesheet" href="{% static 'assets/css/about.css' %}">
{% endblock %}

{% block page %}
    <!--HERO SECTION -->
    <section class="hero_section">
     <!-- header text -->
     <div class="workflow_header_text">
        <h2>About</h2>
    </div>
    </section>



<!-- ----------------SECTION 1------------- -->
   
<section class="strategic_approach wmud">
    <div class="container">
    <h3>Welcome to  <span style="color: rgb(255 150 28);">SF Digital Marketing</span> </h3>
    <p>Welcome to SF Digital Marketing! My name is Sania Farooq, and I am a digital marketer and branding expert with a passion for helping businesses establish a strong online presence.
<br><br>
With in-depth knowledge and hands-on experience in the field, I am committed to providing exceptional services to my clients. From research and analysis, to strategy development, content creation, campaign execution, performance monitoring, optimization, and testing, I have the expertise to help businesses achieve their goals and stand out in a competitive market.
<br><br>
My results-driven approach is focused on providing measurable outcomes that make a real difference to my clients' success. I am committed to staying up-to-date with the latest digital marketing trends and technologies, so I can deliver cutting-edge solutions that drive growth and engagement.
<br><br>
Whether you're a small business just starting out, or a larger enterprise looking to revamp your digital marketing strategy, I'm here to help. Contact me today to see how I can take your business to the next level.</p>
    <div class="stra_request_purposal">
        <a href="#" class="form_btn">request purposal
            <span class="req_icon"><img src="{% static 'assets/images/arrow.png' %}" alt="" /></span></a>
    </div>
</div>
</section>

<!-- ------------WHAT MAKES US DIFFERENT -------- -->

<section class="sec1">
    <div class="container">
        <h2>What Makes Us <span style="color:#ff961c;">Different?</span>
        </h2>
        <div class="sec1_boxes">
            <div class="sec1_box1">
                <div class="sec1_box1_content">
                    <img src="{% static 'assets/images/sec1_img1.png' %}" alt="">
                    <p>Unique Brand Identities</p>
                </div>
            </div>
            <div class="sec1_box1">
                <div class="sec1_box1_content">
                    <img src="{% static 'assets/images/sec1_img2.png' %}" alt="">
                    <p>Comprehensive Social Media Strategy</p>
                </div>
            </div>
            <div class="sec1_box1">
                <div class="sec1_box1_content">
                    <img src="{% static 'assets/images/sec1_img3.png' %}" alt="">
                    <p>Certified Google Ads Expertise</p>
                </div>
            </div>
            <div class="sec1_box1">
                <div class="sec1_box1_content">
                    <img src="{% static 'assets/images/sec1_img4.png' %}" alt="">
                    <p>Results-Oriented Approach <br>Experienced Industry Professional</p>
                </div>
            </div>
            <div class="sec1_box1">
                <div class="sec1_box1_content">
                    <img src="{% static 'assets/images/sec1_img5.png' %}" alt="">
                    <p>Experienced Industry Professional</p>
                </div>
            </div>
        </div>
    </div>
</section>

    <!-- ---------------ABOUT -------------->
    <section class="about">
        <div class="container">
              <div class="about_flex">
                <div class="about_img igal">
                    <img src="{% static 'assets/images/sania.jpeg' %}" alt="">
                    <div class="links igal_links">
                        <div class="twitter_icon">
                          <a href="#"><i class="fa-brands fa-twitter"></i></a>  
                        </div>
                        <div class="linkden_icon">
                          <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>  
                        </div>
                    </div>
                </div>
                <div class="about_text">
                    <div class="about_cnt">
                        <h2>Sania Farooq</h2>
                        <div class="des">
                        <h5>Founder</h5>
                    </div>
                        <p>Hello, my name is Sania Farooq, and I have a Masters degree in Marketing which I completed in 2006 from a reputed university. With years of experience in the field of marketing and branding,<br><br> I have provided my services as a freelancer on various platforms such as Fiverr and Upwork.<br><br>I have served 200+ clients around the globe <br> <br> I am passionate about delivering high-quality marketing solutions to my clients and helping them achieve their business objectives.
                            </p>
                    </div>
                </div>
              </div>
        </div>      
    </section>
  <!-- ---------------ABOUT -------------->
  <!-- <section class="about ron">
    <div class="container">
          <div class="about_flex flex2">
            <div class="about_text">
                <div class="about_cnt">
                    <h2>Ron Kugler</h2>
                    <div class="des">
                    <h5>Co-Founder & Operations Director.</h5>
                </div>
                    <p>Ron is a performance marketing enthusiast. At PPR Media, 
                        he led a team of PPC marketers across multiple verticals including Insurance, Financial services and Credit Cards. Reaching over $25.5M ARR.
                        <br><br>
                        After PPR Media, Ron has founded Logic Leap LTD, a search partner of Microsoft Bing and Yahoo.
                         </p>
                </div>
            </div>

            <div class="about_img ron_img">
                <img src="{% static 'assets/images/ron.png' %}" alt="">
                <div class="links ron_links">
                    <div class="twitter_icon">
                      <a href="#"><i class="fa-brands fa-twitter"></i></a>  
                    </div>
                    <div class="linkden_icon">
                      <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>  
                    </div>
                </div>
            </div>

          </div>
    </div>      
</section> -->


{% include 'customerexperience.html' %}


    <!-- js for menu  -->
    <script src="assets/jquery/jquery-3.6.0.js"></script>
    <script>
        $(document).ready(function(){
     
                        // js for for popup form
        $(".form_btn").click(function(){
            $('#form_content').show();
        });
        //close button
        $('.close_btn').click(function(){
            $('#form_content').hide();
        });

        //image hover  
        $('.links').hide();
       /* $('.igal').mouseenter(function(){
            $('.igal_links').show();
        });
        $('.igal').mouseleave(function(){
            $('.igal_links').hide();
        });

        $('.ron_img').mouseenter(function(){
            $('.ron_links').show();
        })
        $('.ron_img').mouseleave(function(){
            $('.ron_links').hide();
        }); */
          });
       </script>

       {% endblock %}
