{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}  {% endblock %} </title>
    <!-- Site Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/images/logo.png' %}">
    <link rel="stylesheet" href="{% static 'assets/css/workflow.css' %}">
    {% block pagecss %}
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    {% endblock %}
    <link rel="stylesheet" href="{% static 'assets/jq plugin/slick1/slick/slick.css' %}">    
    <script src="{% static 'assets/jquery/jquery-3.6.0.js' %}"></script>

    <script src="https://kit.fontawesome.com/777a0b0f94.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <!-- ---------------HEADER----------- -->
    <header class="header">
        <div class="container">
            <!-- ---------NAVBAR ------------->
            <div class="navbar">
                <div class="logo">
                    <a href="{% url 'home' %}"><img src="{% static 'assets/images/logo.png' %}" alt="" style="height: 81px;" />
                    </a>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="{% url 'home' %}">home</a></li>
                        <li><a href="{% url 'services' %}">services</a></li>
                        <li><a href="{% url 'workflow' %}">workflow</a></li>
                        <li><a href="{% url 'casestudies' %}">case studies</a></li>
                        <li><a href="{% url 'about' %}">about</a></li>
                        <li class="request_purposal">
                            <a href="#" class="form_btn form_btn2">request purposal
                                <span class="req_icon"><img src="{% static 'assets/images/arrow.png' %}" alt="" /></span></a>
                        </li> 
                    </ul>
                </div>
                <div class="mobile-menu">
                    <div class="mobil-menu-hamburger">
                        <div>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
            </div>
       
        </div>
    </header>
    <!----------------MODAL POPUP FORM ------->
<section class="modal_popup">
    <div class="modal_form" id="form_content">
      <div class="form_data"> 
   <div class="close_btn">
      <i class="fa-solid fa-xmark"></i>
   </div>
    <div class="form_text">
      <h2>What Makes Us Different?</h2>
      <p>Please fill out the short form below with your project details 
          and we will be in touch shortly.</p>
    </div>  
    <div class="form" >
<form action="" >
    {% csrf_token %}
        <div class="form_flex1">
          <div class="name">
              <span class="name_icon">
          <input type="text" name="" placeholder="Name" required id="name">
      </span>
      </div>
      <div class="email">
          <span class="email_icon">
          <input type="email" name="" placeholder="Email" required id="email">
      </span>
      </div>
          
      </div>
     

      <div class="message">
          <span class="mes">
          <textarea  cols="30" rows="10" value=""  placeholder="Message" required  id="message" ></textarea>
      </span>
      </div>
      <div class="send_btn">
          <span class="btn_icon">
          <input type="button" value="Send Me A Proposal" id="form_submit">
              <img src="{% static 'assets/images/arrow.png' %}" alt="">
          </span>
      </div>
    </form>
    </div>
  </div>
    </div>
  </section>

{% block page %}


{% endblock %}
     <!--------------------FOOTER-------------------->
     <footer>
        <div class="footer">
            <div class="container">
                <div class="ftr_content">
                    <div class="ftr_logo">
                       <a href="{% url 'home' %}"><img src="{% static 'assets/images/logo.png' %}" alt="" style="
                        height: 81px;"
                    ></a> 
                        <p>Terms & Conditions . Privacy Policy</p>
                    </div>
                    <div class="navi">
                        <h2>Navigation</h2>
                        <div class="btm_line_ftr"></div>
                        <div class="ftr_menu">
                            <ul>
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li><a href="{% url 'services' %}">Services</a></li>
                                <li><a href="{% url 'workflow' %}">Workflow</a></li>
                                <li><a href="{% url 'casestudies' %}">Case Studies</a></li>
                                <li><a href="{% url 'about' %}">About</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="ftr_services">
                        <h2>Services</h2>
                        <div class="btm_line_ftr"></div>
                        <div class="ftr_menu">
                            <ul>
                                <li><a href="#">Email Marketing</a></li>
                                <li><a href="#">Social media manager</a></li>
                                <li><a href="#">Web Development</a></li>
                                <li><a href="#">Branding & Design</a></li>
                                <li><a href="#">Pay Per Click Advertising</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="social">
                        <h2>Social</h2>
                        <div class="btm_line_ftr"></div>
                        <div class="ftr_icons">
                            <ul>
                                <li><a href="https://web.facebook.com/saniaafarooq"><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/sania-farooq"><i class="fa-brands fa-linkedin-in"></i></a></li>
    
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="copyright">
                    <p>© 2023 <a href="index.html" style="color:white; text-decoration: none; font-size:17px ;"> Sania Farooq.</a> All
                        Rights Reserved.</p>
                </div>
            </div>
        </div>
    </footer>



    <script src="{% static 'assets/js/app.js' %}"></script>

<!-- js for menu  -->
<script src="{% static 'assets/jq plugin/slick1/slick/slick.min.js' %}"></script>
<script src="{% static 'assets/js/app.js' %}"></script>
    <script>
        
    $(document).ready(function(){
        $(".mobil-menu-hamburger").click(function(){
            // $(".menu.active").toggleClass("active");
            $(".menu").toggleClass("active");
            $(".mobil-menu-hamburger").toggleClass("active");
        })

        // js for for popup form
        $(".form_btn").click(function(){
            $('#form_content').show();
        })
        //close button
        $('.close_btn').click(function(){
            $('#form_content').hide();
        })

        // slider
        
      });


      //Form Ajax
      $('#form_submit').click(function(){
        var name=$('#name').val()
        var email=$('#email').val()
        var message=$('#message').val()
        var token =  $('input[name="csrfmiddlewaretoken"]').attr('value'); 
        console.log('dad' , name)
        data={
            'name':name,
            'email':email,
            'message':message,
            'token':token
        }

        console.log(data)
        $.ajax({
            type:'post',
            url:'{% url "contact" %}',
            dataType:"json",
            data:data,
    
            success:function(response){
                console.log(response)
            },
    
            error:function(error){
                console.log(error)
            }
    
          }) 
      })

      
   </script>


</body>
</html>