{% load static %}

<section class="section_5">
    <div class="container">
        <div class="sec5">
            <h2>Customer <span style="color: rgb(255 150 28);"> Experiences </span></h2>
            <div class="focus">
                <div class="focus1">
                   <div class="img">
                    <img src="{% static 'assets/images/client1.jpeg' %}" alt="" style="width: 62px; height: 62px;border-radius: 40px;border: 2px solid rgb(255 150 28); display: flex;
                    justify-content: center;
                    margin: 0 auto;
                    margin-top: 17px;">
                   </div>
                    <div class="sec3_text def">
                        <p>Sania was very pleasant to communicate with and provided great customer service, was open to new ideas, and clearly put the sought after effort into the delivery.
                            I am really grateful for your hard work:
                            Thank you so much
                        </p>
                    </div>
                    <div class="sec3_name">
                        <p> <b style="color:#ffff;"> Gabrielabrodows ,</b> CEO
                    </div>

                </div>
                <div class="focus1">
                    <div class="img">
                        <img src="{% static 'assets/images/client2.jpeg' %}" alt="" style="width: 62px; height: 62px;border-radius: 40px;border: 2px solid rgb(255 150 28); display: flex;
                        justify-content: center;
                        margin: 0 auto;
                        margin-top: 17px;">
                       </div>
                    <div class="sec3_text def">
                        <p>"I would suggest other customers to choose Sania because she did help me more than I expected. She is an amazing person!"</p>
                    </div>
                    <div class="sec3_name">
                        <p> <b style="color:#ffff;">Dulyadeyn</b> CEO</p>
                      

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <!--------------------SECTION 6 -------------------->
    <section class="section_6">
        <div class="container">
          <div class="sec6">
              <div class="bub">
                  <img src="{% static 'assets/images/bubles.png' %}" alt="">
              </div>
              <h2>Initiate Your Journey
              </h2>
              <p>Get in touch with us at <span><a  href="#"> Saniaa.faroooq@gmail.com</a></span> </p>
              <div class="stra_request_purposal sec6_btn">
                  <a href="#" class="form_btn">request purposal
                      <span class="req_icon"><img src="{% static 'assets/images/arrow.png' %}" alt="" /></span></a>
              </div>
          </div>
      </div>
  </section>