    {% extends 'base.html' %}
    {% load static %}


    {% block title %} Home {% endblock %}


    {% block page %}
    <!--Home HERO SECTION -->
    <section class="hero_section">
     <!-- header text -->
     <div class="home_hero container">
        <h2>Cultivate Your Brand's Story and Ignite Your Digital Presence: Unleashing the Power of Strategic <span style="color:#ff961c;">Branding and Marketing</span> 
        </h2>
        <p>In today’s experience-based market, people embrace brands that reflect their values, needs, and aspirations. By understanding this new landscape, Sania helps clients develop brands that connect with audiences in a deeper way.</p>
        <div class="request_btn">
            <a href="#">request purposal<span class="icon"><img src="assets/images/arrow.png" alt=""></span></a>
        </div>
    </div>
    </section>

    <!-- ----------------SECTION 1 ---------------- -->
    <section class="sec1">
        <div class="container">
            <h2>What Makes Us <span style="color:#ff961c;">Different?</span>
            </h2>
            <div class="sec1_boxes">
                <div class="sec1_box1">
                    <div class="sec1_box1_content">
                        <img src="{% static 'assets/images/sec1_img1.png' %}" alt="">
                        <p>Unique Brand Identities</p>
                    </div>
                </div>
                <div class="sec1_box1">
                    <div class="sec1_box1_content">
                        <img src="{% static 'assets/images/sec1_img2.png' %}" alt="">
                        <p>Comprehensive Social Media Strategy</p>
                    </div>
                </div>
                <div class="sec1_box1">
                    <div class="sec1_box1_content">
                        <img src="{% static 'assets/images/sec1_img3.png' %}" alt="">
                        <p>Certified Google Ads Expertise</p>
                    </div>
                </div>
                <div class="sec1_box1">
                    <div class="sec1_box1_content">
                        <img src="{% static 'assets/images/sec1_img4.png' %}" alt="">
                        <p>Results-Oriented Approach <br>Experienced Industry Professional</p>
                    </div>
                </div>
                <div class="sec1_box1">
                    <div class="sec1_box1_content">
                        <img src="{% static 'assets/images/sec1_img5.png' %}" alt="">
                        <p>Experienced Industry Professional</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- -- ----------------SECTION 2 ---------------- -- -->
    <section class="sec2">
        <div class="container">
            <div class="sec2_flex">
                <div class="sec2_left">
                    <img src="{% static 'assets/images/sas.jpg' %}" alt="">
                </div>
                <div class="sec2_right">
                    <h2>A Look At Some Of Our <br>
                        Most <span style="color:#ff961c;">Impressive Highlights</span> </h2>
                    <div class="para para1">
                        <span style="padding-top:5px;"><img src="{% static 'assets/images/sec2_img2.png' %}" alt=""></span>
                        <p>
                            Proven track record of creating memorable brands tailored to each client's values and target audience.
                        </p>
                    </div>
                    <div class="para para2">
                        <span style="padding-top:5px;"><img src="{% static 'assets/images/sec2_img2.png' %}" alt=""></span>
                        <p>
                            Specialize in using a mix of social media, email marketing, SEO, and PPC to drive increased website traffic, lead generation, and revenue growth.
                        </p>
                    </div>
                    <div class="para para3">
                        <span style="padding-top:5px;"><img src="{% static 'assets/images/sec2_img2.png' %}" alt=""></span>
                        <p>
                            Use data insights and analysis to monitor and evaluate campaign performance, ensuring optimal results for clients.
                        </p>
                    </div>
                    <div class="para para4">
                        <span style="padding-top:5px;"><img src="{% static 'assets/images/sec2_img2.png' %}" alt=""></span>
                        <p>
                            Combine branding, digital marketing, and management to create a seamless experience for clients and customers.
                        </p>
                    </div>
                    <div class="get_touch">
                        <a href="#">Get in touch today for strategy<span class="get_icon"><img
                                    src="{% static 'assets/images/arrow.png' %}" alt=""></span></a>
                    </div>


                </div>
            </div>
        </div>
    </section>


    <!--------------------SECTION 3 -------------------->
    <section class="shopify_slider">
    <div class="container">
        <!-- slider button -->
     
        <!-- testimonials area -->
        <div class="sec3">

            <h2>What <span style="color:#ff961c;">People Say</span> About US</h2>
            <div class="test_slider">
                <div class="testimonials">
                    <div class="test_photo">
                        <img src="{% static 'assets/images/sec3_img1.png' %}" alt="">
                    </div>
                    <center>
                        <div class="sec3_icon">
                            <p>“</p>
                        </div>
                    </center>
                    <div class="sec3_text1">
                        <p>Igal is a true master of his craft. I worked with him first-hand on projects and am very
                            confident that he can make an impact on Fintech, or companies that want to expand globally.
                        </p>
                    </div>
                    <div class="sec3_name">
                        <p> <b style="color:#ffff;"> Kevin Indig ,</b>Director of SEO, Shopify
                        </p>
                       

                    </div>
                </div>
                <div class="testimonials">
                    <div class="test_photo">
                        <img src="{% static 'assets/images/sec3_img1.png' %}" alt="">
                    </div>
                    <center>
                        <div class="sec3_icon">
                            <p>“</p>
                        </div>
                    </center>
                    <div class="sec3_text1">
                        <p>Igal is a true master of his craft. I worked with him first-hand on projects and am very
                            confident that he can make an impact on Fintech, or companies that want to expand globally.
                        </p>
                    </div>
                    <div class="sec3_name">
                        <p> <b style="color:#ffff;"> Kevin Indig ,</b>Director of SEO, Shopify
                        </p>
                        <div class="test_img">
                            <img src="{% static 'assets/images/sec3_img2.png' %}" alt="">
                        </div>

                    </div>
                </div>
                <div class="testimonials">
                    <div class="test_photo">
                        <img src="{% static 'assets/images/sec3_img1.png' %}" alt="">
                    </div>
                    <center>
                        <div class="sec3_icon">
                            <p>“</p>
                        </div>
                    </center>
                    <div class="sec3_text1">
                        <p>Igal is a true master of his craft. I worked with him first-hand on projects and am very
                            confident that he can make an impact on Fintech, or companies that want to expand globally.
                        </p>
                    </div>
                    <div class="sec3_name">
                        <p> <b style="color:#ffff;"> Kevin Indig ,</b>Director of SEO, Shopify
                        </p>
                        <div class="test_img">
                            <img src="{% static 'assets/images/sec3_img2.png' %}" alt="">
                        </div>

                    </div>
                </div>
                <div class="testimonials">
                    <div class="test_photo">
                        <img src="{% static 'assets/images/sec3_img1.png' %}" alt="">
                    </div>
                    <center>
                        <div class="sec3_icon">
                            <p>“</p>
                        </div>
                    </center>
                    <div class="sec3_text1">
                        <p>Igal is a true master of his craft. I worked with him first-hand on projects and am very
                            confident that he can make an impact on Fintech, or companies that want to expand globally.
                        </p>
                    </div>
                    <div class="sec3_name">
                        <p> <b style="color:#ffff;"> Kevin Indig ,</b>Director of SEO, Shopify
                        </p>
                        <div class="test_img">
                            <img src="{% static 'assets/images/sec3_img2.png' %}" alt="">
                        </div>

                    </div>
                </div>
                <div class="testimonials">
                    <div class="test_photo">
                        <img src="{% static 'assets/images/sec3_img1.png' %}" alt="">
                    </div>
                    <center>
                        <div class="sec3_icon">
                            <p>“</p>
                        </div>
                    </center>
                    <div class="sec3_text1">
                        <p>Igal is a true master of his craft. I worked with him first-hand on projects and am very
                            confident that he can make an impact on Fintech, or companies that want to expand globally.
                        </p>
                    </div>
                    <div class="sec3_name">
                        <p> <b style="color:#ffff;"> Kevin Indig ,</b>Director of SEO, Shopify
                        </p>
                        <div class="test_img">
                            <img src="{% static 'assets/images/sec3_img2.png' %}" alt="">
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
    <!--------------------SECTION 4 -------------------->
<section class="sec4">
        <div class="container">
            <div class="sec4_text">
                <h2>Our Focused Areas of <span style="color:#ff961c;">Specialization</span>
                </h2>
            </div>
            <!-- slider button -->
            <div class="slider">
                <div class="slider1_left_btn">
                    <img src="{% static 'assets/images/sec3_img3.png' %}" alt="">
                </div>
                <div class="slider1_right_btn">
                    <img src="{% static 'assets/images/sec3_4.png' %}" alt="">
                </div>
            </div>
            <div class="areas">
                <div class="area1">
                    <center><img src="{% static 'assets/images/sec4_img1.png' %}" alt="">
                        <h3>Growth Strategy</h3>
                        <p>We lead with data and make decisions based on experience. Our approach to growth focuses on
                            sustainability first; we’re not interested in delivering a “flash in the pan” to our growth
                            focused clients. </p>
                    </center>

                </div>

                <div class="area1">
                    <center><img src="{% static 'assets/images/sec4_img2.png' %}" alt="">
                        <h3>Analytics & Diagnostics</h3>
                        <p>They say the devil is in the details, and so are we. We leverage cutting edge analytics,
                            attribution, and diagnostics solutions to empower our decision making. </p>
                    </center>

                </div>
                <div class="area1">
                    <center><img src="{% static 'assets/images/sec4_img3.png' %}" alt="">
                        <h3>Enterprise Technical Auditing</h3>
                        <p>We’re not scared of multi-million page websites. We understand the nuances to crawling,
                            auditing, and analyzing the biggest (and most complex) websites on the internet. Our
                            technical audits prioritize for impact. </p>
                    </center>

                </div>
                <div class="area1">
                    <center><img src="{% static 'assets/images/sec4_img3.png' %}" alt="">
                        <h3>Enterprise Technical Auditing</h3>
                        <p>We’re not scared of multi-million page websites. We understand the nuances to crawling,
                            auditing, and analyzing the biggest (and most complex) websites on the internet. Our
                            technical audits prioritize for impact. </p>
                    </center>

                </div>
                <div class="area1">
                    <center><img src="{% static 'assets/images/sec4_img3.png' %}" alt="">
                        <h3>Enterprise Technical Auditing</h3>
                        <p>We’re not scared of multi-million page websites. We understand the nuances to crawling,
                            auditing, and analyzing the biggest (and most complex) websites on the internet. Our
                            technical audits prioritize for impact. </p>
                    </center>

                </div>


            </div>
        </div>
</section>

    <!--------------------SECTION 5 -------------------->
        {% include 'customerexperience.html' %}


{% endblock %}