{% extends 'templates/base.html' %}
{% load static %}
{% block title %}  Privacy Policy  {% endblock %}
{% block pagecss %}
<link rel="stylesheet" href="{% static 'assets/css/workflow.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/privacy.css' %}">
{% endblock %}

{% block page %}
<!--HERO SECTION -->
<section class="hero_section">
    <!-- header text -->
    <div class="workflow_header_text">
        <h2> Privacy Policy </h2>
        <p>SF Marketing is a focused Digital Marketing Agency.</p>
    </div>
</section>





</div>

<!-- --------------Privacy Policy ------------ -->
<section class="privacy">
    <div class="container">
    <h2> Privacy Policy and Term and Conditions </h2>
    <div class="privacy_text">

    <p>Depending on where a company conducts its business, various rules and laws can significantly affect it.
        <br><br>
        For example, the California Consumer Privacy Act gives consumers the right to know about any and all information collected, where their personal data goes, and how the company will use their personal information. This act also provides the right to retract any submitted data and opt out in order to not have any of their personal information used by a specific company. Additionally, the act ensures protection against discrimination in response to their applicable rights.
        <br><br>
        Some of the primary international privacy laws include:
        <br><br>
        Australia: The Privacy Act of 1988 requires all Australian companies to offer a privacy policy. The act regulates the handling of personal information, including data collection, usage, storage, and disclosure.
        <br><br>
        UK: The Data Protection Act of 1988 requires any entity that collects data to offer a privacy policy. There are also rules regarding the length of time personal information should be kept, how it's maintained, and the degree to which the data collected is relevant to its application.
        Canada: The PIPEDA is the Personal Information Protection and Electronics Documents Act, which requires a company to have a privacy policy and use simple and easy-to-understand language. It also mandates companies to be available for any questions.
        <br><br>
        EU: In the EU, companies must have a privacy policy describing how personal information is processed and the legal basis for processing it. Furthermore, the DPO or EU representative must be listed if consumers should want further information about their rights.
        If you have any questions about your legal obligation, you can contact your local data protection authority.
        <br><br>
        Bring your brand to life with your own website. Design from scratch, connect a domain, analyze traffic, and optimize for SEO.
        <br><br>
        Sign up
        How to write a privacy policy for your website
        When creating a privacy policy, businesses may have to customize their privacy terms depending on the industry.
        
        </p>
    </div>
    </div>
</section>

{% endblock %}