{% extends 'templates/base.html' %}
{% load static %}
{% block title %}  Privacy Policy  {% endblock %}
{% block pagecss %}
<link rel="stylesheet" href="{% static 'assets/css/workflow.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/privacy.css' %}">
{% endblock %}

{% block page %}
<!--HERO SECTION -->
<section class="hero_section">
    <!-- header text -->
    <div class="workflow_header_text">
        <h2> Privacy Policy </h2>
    </div>
</section>





</div>

<!-- --------------Privacy Policy ------------ -->
<section class="privacy">
    <div class="container">
    <h2> Privacy Policy  </h2>
    <div class="privacy_text">

            <p>This Privacy Policy sets out how Sania Farooq ("we," "us," "our") collects, uses, and protects the personal information of users ("you," "your") who visit and use our website, www.saniafarooq.com
                <br><br>
                Information We Collect
                We may collect the following types of personal information from you when you use our Website:
                <br><br>
                <strong>1. Personal Information Provided by You:</strong> When you contact us through the contact form on our Website or sign up for our newsletter, we may collect personal information, such as your name, email address, phone number, and any other information you voluntarily provide to us.
                <br><br>
                <strong>2. Automatically Collected Information:</strong> We may automatically collect certain information when you visit our Website, such as your IP address, browser type, operating system, referring URL, pages visited, and the date and time of your visit. This information is collected through cookies and other tracking technologies, as explained in our Cookie Policy.
                <br><br>
                <strong>1. To provide and improve our services:</strong> We may receive personal information about you from third-party sources, such as social media platforms, when you interact with our content on those platforms.
                Use of Personal Information
                <br><br>
                We may use the personal information we collect from you for the following purposes:
                <strong>1. To provide and improve our services:</strong> We may use your personal information to respond to your inquiries, provide you with information or services you request, and improve the quality of our services.
                <br><br>
                <strong>2. To send marketing communications:</strong> With your consent, we may send you newsletters, promotional emails, or other marketing communications about our services or special offers that we think may be of interest to you.
                <br><br>
                <strong>3. To analyze and improve the Website:</strong> We may use automatically collected information to analyze trends, monitor the usage of the Website, and improve the content and functionality of the Website.
                <br><br>
                <strong>4. To comply with legal obligations:</strong> We may use your personal information to comply with applicable laws, regulations, or legal processes.
                Data Retention
                We will retain your personal information for as long as necessary to fulfill the purposes for which it was collected, or as required by applicable laws and regulations.
                Security
                We take reasonable measures to protect your personal information from unauthorized access, use, or disclosure. However, please be aware that no method of transmission over the internet or electronic storage is 100% secure, and we cannot guarantee the absolute security of your personal information.
                <br><br>
                <strong>Third-Party Websites and Services</strong><br><br>
                Our Website may contain links to third-party websites or services that are not owned or controlled by us. This Privacy Policy does not apply to those third-party websites or services, and we are not responsible for the privacy practices or content of those websites or services. We recommend reviewing the privacy policies of those third-party websites or services before providing any personal information.<br><br>
                <strong>Your Rights:</strong> <br>
                You have certain rights regarding your personal information, including the right to access, update, correct, or delete your personal information. You may also have the right to object to or restrict certain processing of your personal information or to withdraw your consent where applicable. To exercise these rights or for any questions or concerns about our privacy practices, please contact us using the contact information provided below.
                Updates to Privacy Policy
                <br>
                We may update this Privacy Policy from time to time to reflect changes in our privacy practices. We will post any changes to the Privacy Policy on this page and indicate the date of the last update. We encourage you to review this Privacy Policy periodically for any updates.
                <br><br>
                <strong>Contact Us</strong> <br>
                If you have any questions or concerns about our Privacy Policy or our privacy practices, please contact us at: <br> contact@saniafarooq.com<br>
                Last updated: 08-04-23
                </p>
 
    </div>
    </div>
</section>

{% endblock %}