{% extends 'templates/base.html' %}
{% load static %}
{% block title %} Services {% endblock %}

{% block pagecss %}
<link rel="stylesheet" href="{% static 'assets/css/services.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
{% endblock %}

{% block page %}
    <!--HERO SECTION -->
    <section class="hero_section">
     <!-- header text -->
     <div class="workflow_header_text">
        <h2>Services</h2>
        <p style="max-width:535px; margin:0 auto;">“Building personalized and meaningful connections with your target audience in the digital realm."</p>
    </div>
    </section>

<!-- -----------------SERVICES ----------------->
<section class="services_we_offer">
    <div class="container">
        <div class="ser_text">
         <h2>Our focused area of <span style="color:#ff961c;">specialization</span></h2>
        </div>
        <div class="service_flex_1">
        

            <div class="gr_ser">
                <div class="gr_ser_cnt">
                    <img src="{% static 'assets/images/sec4_img1.png' %}" alt="">
                    <h3>Social Media Marketing</h3>
                    <p>Every brand has a story to tell. We’re here to make sure that story spreads as far and wide as possible. </p>
                    <ul class="list">
                        <span class="item">
                            <img src="{% static 'assets/images/r_icon.png' %}" alt="">
                        <li>Social Media Strategy</li>
                        </span>
                        <span class="item">
                            <img src="{% static 'assets/images/r_icon.png' %}" alt="">
                        <li>Facebook & IG</li>
                        </span>
                        <span class="item">
                            <img src="{% static 'assets/images/r_icon.png' %}" alt="">
                        <li>Twitter Management</li>
                        </span>
                        <span class="item">
                            <img src="{% static 'assets/images/r_icon.png' %}" alt="">
                        <li>linkedin Management</li>
                        </span>
                        <span class="item">
                            <img src="{% static 'assets/images/r_icon.png' %}" alt="">
                        <li>Video & TikTok</li>
                        </span>
                    </ul>
                    <div class="view_details growth_btn">
                        <a href="#">view details
                            <span><img src="{% static 'assets/images/arrow.png' %}" alt=""></span>
                        </a>
                    </div>
                </div>
            </div>


            <div class="gr_ser">
                <div class="gr_ser_cnt">
                    <img src="{% static 'assets/images/sec4_img1.png' %}" alt="">
                    <h3>Pay Per Click Advertising</h3>
                    <p>
                        Every brand has a story to tell. We’re here to make sure that story spreads as far and wide as possible.</p>
                    <ul class="list">
                        <span class="item">
                            <img src="{% static 'assets/images/r_icon.png' %}" alt="">
                        <li>Google Ads</li>
                        </span>
                        <span class="item">
                            <img src="{% static 'assets/images/r_icon.png' %}" alt="">
                        <li>Facebook Ads</li>
                        </span>
                        <span class="item">
                            <img src="{% static 'assets/images/r_icon.png' %}" alt="">
                        <li>Ecommerce</li>
                        </span>
                        <span class="item">
                            <img src="{% static 'assets/images/r_icon.png' %}" alt="">
                        <li>Remarketing</li>
                        </span>
                        <span class="item">
                            <img src="{% static 'assets/images/r_icon.png' %}" alt="">
                        <li>Landing Pages</li>
                        </span>
                    </ul>
                    <div class="view_details growth_btn">
                        <a href="#">view details
                            <span><img src="{% static 'assets/images/arrow.png' %}" alt=""></span>
                        </a>
                    </div>
                </div>
            </div>


            <div class="gr_ser">
                <div class="gr_ser_cnt">
                    <img src="{% static 'assets/images/sec4_img1.png' %}" alt="">
                    <h3>Branding & Design</h3>
                    <p>Our approach to brand strategy focuses on diving deep into your audience’s daily lives, values, pains, gains, and behaviours to uncover golden opportunities for genuine brand connection.</p>
                    <ul class="list">
                        <span class="item">
                            <img src="{% static 'assets/images/r_icon.png' %}" alt="">
                        <li>Brand Strategy</li>
                        </span>
                        <span class="item">
                            <img src="{% static 'assets/images/r_icon.png' %}" alt="">
                        <li>Brand Naming</li>
                        </span>
                        <span class="item">
                            <img src="{% static 'assets/images/r_icon.png' %}" alt="">
                        <li>Visual Identity
                            </li>
                        </span>
                        <span class="item">
                            <img src="{% static 'assets/images/r_icon.png' %}" alt="">
                        <li>
                            Brand Asset Development
                            </li>
                        </span>

                        <span class="item">
                            <img src="{% static 'assets/images/r_icon.png' %}" alt="">
                        <li>
                            Brand Packaging + Materials</li>
                        </span>
                    </ul>
                    <div class="view_details growth_btn">
                        <a href="#">view details
                            <span><img src="{% static 'assets/images/arrow.png' %}" alt=""></span>
                        </a>
                    </div>
                </div>
            </div>


            <div class="gr_ser">
                <div class="gr_ser_cnt">
                    <img src="{% static 'assets/images/sec4_img1.png' %}" alt="">
                    <h3>Web Development</h3>
                    <p>we approach every website through the lens of how it will impact and drive your marketing goals. It should be, after all, your hardest working and most successful sales representative.</p>
                    <ul class="list">
                        <span class="item">
                            <img src="{% static 'assets/images/r_icon.png' %}" alt="">
                        <li>Front End Development</li>
                        </span>
                        <span class="item">
                            <img src="{% static 'assets/images/r_icon.png' %}" alt="">
                        <li>Ecommerce Development</li>
                        </span>
                        <span class="item">
                            <img src="{% static 'assets/images/r_icon.png' %}" alt="">
                        <li>Python Django app</li>
                        </span>
                        <span class="item">
                            <img src="{% static 'assets/images/r_icon.png' %}" alt="">
                        <li>Ui & UX Design</li>
                        </span>
                    </ul>
                    <div class="view_details growth_btn">
                        <a href="#">view details
                            <span><img src="{% static 'assets/images/arrow.png' %}" alt=""></span>
                        </a>
                    </div>
                </div>
            </div>


            <div class="gr_ser">
                <div class="gr_ser_cnt">
                    <img src="{% static 'assets/images/sec4_img1.png' %}" alt="">
                    <h3>Social media manager</h3>
                    <p>As an experienced social media manager, I specialize in creating and executing social media strategies that help businesses increase their online presence, engage with their audience, and ultimately drive revenue. From creating compelling content to analyzing performance and adjusting the strategy accordingly, my services help clients effectively leverage social media to achieve their business objectives.</p>
                    <ul class="list">
                        <span class="item">
                            <img src="{% static 'assets/images/r_icon.png' %}" alt="">
                        <li>Facebook</li>
                        </span>
                        <span class="item">
                            <img src="{% static 'assets/images/r_icon.png' %}" alt="">
                        <li>All Social Plateforms</li>
                        </span>
                    </ul>
                    <div class="view_details growth_btn">
                        <a href="#">view details
                            <span><img src="{% static 'assets/images/arrow.png' %}" alt=""></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="gr_ser">
                <div class="gr_ser_cnt">
                    <img src="{% static 'assets/images/sec4_img1.png' %}" alt="">
                    <h3>Email Marketing</h3>
                    <p>I specialize in creating and executing effective email marketing campaigns that help businesses engage with their target audience and drive conversions.</p>
                    <ul class="list">
                        <span class="item">
                            <img src="{% static 'assets/images/r_icon.png' %}" alt="">
                        <li>Marketing Automation
                        </li>
                        </span>
                        <span class="item">
                            <img src="{% static 'assets/images/r_icon.png' %}" alt="">
                        <li>Email Newsletters</li>
                        </span>
                        <span class="item">
                            <img src="{% static 'assets/images/r_icon.png' %}" alt="">
                        <li>Mailchimp Experts
                            SMS Marketing</li>
                        </span>
                        <span class="item">
                            <img src="{% static 'assets/images/r_icon.png' %}" alt="">
                        <li>SMS Marketing</li>
                        </span>
                    </ul>
                    <div class="view_details growth_btn">
                        <a href="#">view details
                            <span><img src="{% static 'assets/images/arrow.png' %}" alt=""></span>
                        </a>
                    </div>
                </div>
            </div>

            
            </div>
        



        <div class="stra_request_purposal">
            <a href="#" class="form_btn">request purposal
                <span class="req_icon"><img src="{% static 'assets/images/arrow.png' %}" alt="" /></span></a>
        </div>
        <!--------->
    </div>
    </div>
    </div>
</section>

{% include 'templates/customerexperience.html' %}


{% endblock %}
