{% extends 'templates/base.html' %}
{% load static %}
{% block title %}  Terms and conditions  {% endblock %}
{% block pagecss %}
<link rel="stylesheet" href="{% static 'assets/css/workflow.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/privacy.css' %}">
{% endblock %}

{% block page %}
<!--HERO SECTION -->
<section class="hero_section">
    <!-- header text -->
    <div class="workflow_header_text">
        <h2> Terms and conditions </h2>
    
    </div>
</section>





</div>

<!-- --------------Privacy Policy ------------ -->
<section class="privacy">
    <div class="container">
    <h2> Terms And Conditions </h2>

    <div class="privacy_text">

        <p>Welcome to our website! If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our Privacy Policy govern Sania Farooq's relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website. <br><br>
            The term 'Sania Farooq' or 'us' or 'we' refers to the owner of the website name Sania Farooq. The term 'you' refers to the user or viewer of our website.
            The use of this website is subject to the following terms of use: <br> <br>
            <span style="font-size: 26px;"> <b> 1.</b></span> The content of the pages of this website is for your general information and use only. It is subject to change without notice.<br><br>
            <span style="font-size: 26px;"> <b> 2.</b></span> This website may use cookies to monitor browsing preferences. If you do allow cookies to be used, please refer to our Privacy Policy for further information.<br><br>
            <span style="font-size: 26px;"> <b> 3.</b></span> Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness, or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors, and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.<br><br>
            <span style="font-size: 26px;"> <b> 4.</b></span> Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services, or information available through this website meet your specific requirements.<br><br>
            <span style="font-size: 26px;"> <b> 5.</b></span> This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance, and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.
            <br><br>
            <span style="font-size: 26px;"> <b> 6.</b></span> All trademarks reproduced in this website, which is not the property of, or licensed to, the operator, are acknowledged on the website.<br><br>
            <span style="font-size: 26px;"> <b> 7.</b></span> Unauthorized use of this website may give rise to a claim for damages and/or be a criminal offense.<br><br>
            <span style="font-size: 26px;"> <b> 8.</b></span> From time to time, this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).<br><br>
            <span style="font-size: 26px;"> <b> 9.</b></span> Your use of this website and any dispute arising out of such use of the website is subject to the laws of Pakistan.<br><br>
            <span style="font-size: 26px;"> <b> 10.</b></span> We reserve the right to modify or discontinue, temporarily or permanently, the website (or any part thereof) with or without notice. You agree that we shall not be liable to you or to any third party for any modification, suspension, or discontinuance of the website.<br><br>
            <span style="font-size: 26px;"> <b> 11.</b></span> Your use of our digital marketing services, branding services, and custom website development services are subject to separate agreements and contracts, which may include additional terms and conditions. <br><br>
            <span style="font-size: 26px;"> <b> 12.</b></span> Your use of this website constitutes your acceptance of these terms and conditions and any modifications thereto. <br><br>
            If you have any questions or concerns about our terms and conditions, please contact us at <br> contact@saniafarooq.com. <br>
            Last updated: 08-04-23
            </p>
 
    </div>
    </div>
</section>

{% endblock %}